<section id="about" class="section-about">
  <div class="container about-container">
    <div class="wrapper-about">
      <div class="text-wrapper-about">
        <h2 class="about-title">About the game</h2>
        <p class="about-text">
          A modern 3D puzzle experience built around satisfying object matching.
          We took the old-school matching game concept and gave it a 3D makeover
          - now you're hunting through cluttered scenes to spot three identical
          items. It's actually pretty good for training your eye and focus, but
          it won't stress you out - perfect for playing on the bus or whatever.
          Everything feels smooth to touch, the objects look great, and you'll
          want to keep playing to see what's next. The overall mood should feel
          colorful, clean, and mentally refreshing.
        </p>
      </div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/png/desktop-fruit@1x.png 1x,
            /img/png/desktop-fruit@2x.png 2x
          "
        />
        <img
          class="about-fruit"
          src="./img/png/fruit-mobile@1x.png"
          srcset="
            /img/png/fruit-mobile@1x.png 1x,
            /img/png/fruit-mobile@2x.png 2x
          "
          alt="Fruit"
        />
      </picture>
    </div>
  </div>
</section>
