<header class="header" data-menu="close" data-el="header">
  <div class="container">
    <nav class="nav-header">
      <div class="wrapper-header">
        <a class="nav-header-logo" href="./index.html" aria-label="Site logo">
          <img src="" alt="" class="logo" width="46" height="46" />
          <div class="logo-wrapper">
            <p>Match Triple 3D</p>
            <p>Organize the chaos one match at a time</p>
          </div>
        </a>
        <button class="burger-open" type="button" data-action="open">
          Open menu
        </button>
        <button class="burger-close" type="button" data-action="close">
          Close menu
        </button>
      </div>

      <ul class="nav-header-list" data-visible="close">
        <li>
          <a class="nav-header-list-item" href="#about">About the game</a>
        </li>
        <li>
          <a class="nav-header-list-item" href="#howToPlay">How to Play</a>
        </li>
        <li><a class="nav-header-list-item" href="#features">Features</a></li>
        <li><a class="nav-header-list-item" href="#FAQ">FAQ</a></li>
        <li><a class="nav-header-list-item" href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
