<section id="howToPlay" class="section how-section">
  <div class="container">
    <div class="how-title-box">
      <h2 class="how-title about-title">How to Play</h2>
      <p class="how-subtitle">Match identical objects and clear every level</p>
    </div>
    <div class="how-container">
      <ul class="how-list">
        <li class="how-list-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/png/desktop-star@1x.png 1x,
                /img/png/desktop-star@2x.png 2x
              "
            />
            <img
              class="how-star-image"
              src="/img/png/star-mobile@1x.png"
              srcset="
                /img/png/star-mobile@1x.png 1x,
                /img/png/star-mobile@2x.png 2x
              "
              alt="Star"
              loading="lazy"
            />
          </picture>
          <div class="how-list-box">
            <h3 class="how-list-title">Search Through 3D Items</h3>
            <p class="how-list-text">
              Find three identical objects hidden on the board.
            </p>
          </div>
        </li>
        <li class="how-list-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/png/desktop-star@1x.png 1x,
                /img/png/desktop-star@2x.png 2x
              "
            />
            <img
              class="how-star-image"
              src="/img/png/star-mobile@1x.png"
              srcset="
                /img/png/star-mobile@1x.png 1x,
                /img/png/star-mobile@2x.png 2x
              "
              alt="Star"
              loading="lazy"
            />
          </picture>
          <div class="how-list-box">
            <h3 class="how-list-title">Create Triple Matches</h3>
            <p class="how-list-text">
              Collect matching items to remove them instantly.
            </p>
          </div>
        </li>
        <li class="how-list-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/png/desktop-star@1x.png 1x,
                /img/png/desktop-star@2x.png 2x
              "
            />
            <img
              class="how-star-image"
              src="/img/png/star-mobile@1x.png"
              srcset="
                /img/png/star-mobile@1x.png 1x,
                /img/png/star-mobile@2x.png 2x
              "
              alt="Star"
              loading="lazy"
            />
          </picture>
          <div class="how-list-box">
            <h3 class="how-list-title">Clear All Objects</h3>
            <p class="how-list-text">
              Complete levels by organizing the entire puzzle space.
            </p>
          </div>
        </li>
        <li class="how-list-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/png/desktop-star@1x.png 1x,
                /img/png/desktop-star@2x.png 2x
              "
            />
            <img
              class="how-star-image"
              src="/img/png/star-mobile@1x.png"
              srcset="
                /img/png/star-mobile@1x.png 1x,
                /img/png/star-mobile@2x.png 2x
              "
              alt="Star"
              loading="lazy"
            />
          </picture>
          <div class="how-list-box">
            <h3 class="how-list-title">Use Helpful Tools</h3>
            <p class="how-list-text">
              Boosters and hints support difficult puzzle stages.
            </p>
          </div>
        </li>
        <li class="how-list-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/png/desktop-star@1x.png 1x,
                /img/png/desktop-star@2x.png 2x
              "
            />
            <img
              class="how-star-image"
              src="/img/png/star-mobile@1x.png"
              srcset="
                /img/png/star-mobile@1x.png 1x,
                /img/png/star-mobile@2x.png 2x
              "
              alt="Star"
              loading="lazy"
            />
          </picture>
          <div class="how-list-box">
            <h3 class="how-list-title">Unlock New Object Themes</h3>
            <p class="how-list-text">
              Progress through increasingly varied visual collections.
            </p>
          </div>
        </li>
      </ul>
      <video
        class="gameplay-video"
        autoplay
        muted
        loop
        playsinline
        tabindex="-1"
        aria-hidden="true"
      >
        <source src="/img/video/gameplay-web.webm" type="video/webm" />
        <source src="/img/video/gameplay-mp4.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>
