:root {
  --white: #fff;
  --star: #d8f0f7;
  --heder: rgba(152, 213, 252, 0.7);
  --stroke-title: #801d8a;
  --stroke-article: rgba(0, 0, 0, 0.1);
  --text-title: #ffe329;
  --text-body: #531759;
  --background-fon: #c1e7fe;
  --background-card: #313042;
  --circle-center: #e2eefd;
  --circle-middle: #d9f1ff;
  --circle-outside: #d2eeff;
  --hero-mobile: #1e76ec;
}

:root {
  --font-family: 'Quicksand', sans-serif;
  --second-family: 'SF Pro', sans-serif;
  --third-family: 'Sigmar', sans-serif;
  --font3: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  background: var(--background-fon);
  flex-direction: column;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: justify;
  color: var(--text-body);
}

main {
  flex-grow: 0;
}
