@keyframes header-move {
  0% {
    top: -85px;
  }
  100% {
    top: 0;
  }
}

@media only screen and (min-width: 1440px) {
  @keyframes header-move {
    0% {
      top: -85px;
    }
    100% {
      top: 12px;
    }
  }
}
.header {
  position: fixed;
  top: -85px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  width: 375px;
  height: 64px;
  overflow: hidden;
  background: var(--heder);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  animation-name: header-move;
  animation-duration: 1.5s;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
  transition: height 0.3s ease-in-out;

  @media only screen and (min-width: 1440px) {
    width: 1297px;
    height: 80px;
    overflow: visible;
  }
}

.header[data-menu='open'] {
  height: 357px;

  @media only screen and (min-width: 1440px) {
    height: auto;
  }
}

.header .container {
  height: 100%;
  padding: 0 16px;

  @media only screen and (min-width: 1440px) {
    padding: 0 72px;
  }
}

.nav-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  flex-shrink: 0;
}

.nav-header-logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: color 300ms cubic-bezier(0.27, 0.59, 0.76, 0.83);

  @media only screen and (min-width: 1440px) {
    gap: 20px;
    padding: 17px 0;
  }
}

.nav-header-logo-link:hover,
.nav-header-logo-link:focus-visible {
  color: var(--white);
  outline: none;
}
.nav-header-logo-link:active {
  color: var(--star);
}
.logo {
  flex-shrink: 0;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 120px;

  @media only screen and (min-width: 1440px) {
    max-width: none;
  }
}

.logo-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
  @media only screen and (min-width: 1440px) {
    font-size: 20px;
    line-height: 140%;
  }
}

.logo-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: var(--text-body);
  @media only screen and (min-width: 1440px) {
    line-height: 150%;
  }
}

.nav-header-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  list-style: none;
  margin: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  padding: 12px 38px;
  transition:
    height 0.3s ease-in-out,
    opacity 0.25s ease-in-out,
    padding 0.3s ease-in-out;

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    align-items: center;
    gap: 0;
    width: auto;
    height: auto;
    opacity: 1;
    padding: 0;
    overflow: visible;
  }
}

.nav-header-list[data-visible='open'] {
  height: 293px;
  opacity: 1;

  @media only screen and (min-width: 1440px) {
    height: auto;
    padding: 0;
  }
}

.nav-header-list-item {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-body);
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
  transition: background 300ms cubic-bezier(0.27, 0.59, 0.76, 0.83);

  @media only screen and (min-width: 1440px) {
    padding: 16px;
  }
}

.nav-header-list-item:hover,
.nav-header-list-item:focus-visible {
  background: rgba(255, 255, 255, 0.2);
  outline: none;
}
.nav-header-list-item:active {
  background: rgba(58, 148, 226, 0.1);
}
.header[data-menu='close'] [data-action='open'] {
  display: inline-block;
}
.header[data-menu='close'] [data-action='close'] {
  display: none;
}
.header[data-menu='open'] [data-action='open'] {
  display: none;
}
.header[data-menu='open'] [data-action='close'] {
  display: inline-block;
}

@media only screen and (min-width: 1440px) {
  .header [data-action='open'],
  .header [data-action='close'] {
    display: none !important;
  }
}
.burger-open {
  background-color: transparent;
  background-image: url('../img/png/burger@1x.png');
  background-repeat: no-repeat;
  background-size: 42px 46px;
  width: 42px;
  height: 46px;
  border: none;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/png/burger@2x.png');
  }
}
.burger-close {
  background-color: transparent;
  background-image: url('../img/png/close@1x.png');
  background-repeat: no-repeat;
  background-size: 43px 46px;
  width: 43px;
  height: 46px;
  border: none;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/png/close@2x.png');
  }
}
